<script src="/javascripts/plugins/Calendar.js"></script>

<div ng-controller="IndexCtrl" class="content-padded">
  <h3>Calendar status: {{calendarStatus}}</h3>
  
  <h2>Calendar Event Data</h2>
  <label>Event Title</label>
  <input type="text" ng-model="event.title" class="topcoat-text-input full" required>

  <label>Event Location</label>
  <input type="text" ng-model="event.location" class="topcoat-text-input full" required>
  
  <label>Event Notes</label>
  <input type="text" ng-model="event.notes" class="topcoat-text-input full" required>
  
  <label>
    Event Start Date<br>
    <small><em>(Format: <code>yyyy-mm-dd hh:mm:ss</code>)</em></small>
  </label>
  <input type="text" ng-model="event.startDate" class="topcoat-text-input full" required>

  <label>
    Event End Date<br>
    <small><em>(Format: <code>yyyy-mm-dd hh:mm:ss</code>)</em></small>
  </label>
  <input type="text" ng-model="event.endDate" class="topcoat-text-input full" required>
  
  <h2>Create Event</h2>
  <p>Create a new calendar event with the above data.</p>
  <div class="topcoat-button full center" hm-tap="createEvent()">Create Event</div>

  <h2>Find Events</h2>
  <p>Find events matching the above data. Leave fields empty for wildcard search. Start and end date define search interval.</p>
  <div class="topcoat-button full center" hm-tap="findEvents()">Find Events</div>

  <h2>Delete Calendar Event</h2>
  <p>Delete all calendar events matching the above data. Start and end date define search interval.</p>
  <div class="topcoat-button full center" hm-tap="deleteEvent()">Delete Events</div>
  
  <h2>
  

</div>
