html, body {
  height: 100%;
}

img#camera-photo {
  width:100%;
}

#camera-spinner {
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  width:100%;
  font-size:50px;
}


.sidemenu {
  height: 100%;
  padding-top: 60px;
  display: block;
}

.tic-tac,
.back
{
    width: 40px;
    height: 40px;
    border: #CCC 1px solid;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 10px;
}
.tic-tac
{
    background-image:url(/vendor/iconbeast/tic-tac-toe.png);
}
.back
{
    background-image:url(/vendor/iconbeast/arrow-big-01.png);
}
