html, body {
  height: 100%;
}

img#camera-photo {
  width:100%;
}

#camera-spinner {
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  width:100%;
  font-size:50px;
}


.sidemenu {
  height: 100%;
  padding-top: 60px;
  display: block;
}
