<div class="content-padded" ng-controller="IndexCtrl">

  <h2>Selected in drawer:</h2>
  <h3>{{selectedInDrawer}}</h3>

  <p>This example demonstrates the drawer, as well as using <code>window.postMessage</code> to communicate between WebViews.</p>

  <div class="topcoat-button--cta full center block" hm-tap="openDrawer()"><i class="icon-align-justify"></i>&nbsp;Open drawer</div>

  <div class="topcoat-button full center block" hm-tap="enableGesture()"><i class="icon-thumbs-up"></i>&nbsp;Enable drag-to-open gesture</div>

  <div class="topcoat-button full center block" hm-tap="disableGesture()"><i class="icon-thumbs-down"></i>&nbsp;Disable drag-to-open gesture</div>

</div>
