<div ng-controller="IndexCtrl" class="padding camera">
  <button class="button button-block" ng-click="getPicture(cameraOptions.fromCamera)">Capture photo</button>
  <button class="button button-block" ng-click="getPicture(cameraOptions.fromPhotoLibrary)">Choose from Photo Library</button>

  <p>The selected photo gets moved from the default Cordova <code>tmp</code> folder to</p>
  <code><small>sterois.app.absoluteUserFilesPath</small></code>
  <p>and is then rendered below via <code>localhost</code>, without requiring an absolute <code>file://</code> URL.</p>

  <h2 ng-hide="imageSrc">No photo selected yet.</h2>
  <img id="camera-photo" ng-src="{{imageSrc}}" ng-hide="showSpinner">
  <div id="camera-spinner" ng-show="showSpinner">
    <i class="ion-loading-c"></i>
  </div>
</div>
