<script src="/javascripts/plugins/FacebookConnect.js"></script>

<div ng-controller="PluginCtrl" class="content-padded">
  <h1>Facebook Connect</h1>
  <h2>Example with plugin</h2>
  
  <p>This plugin requires you to build a custom Scanner with the correct Facebook App ID defined. See</p>
  <small><pre>app/controllers/facebook.coffee</pre></small>
  <p>for more information.</p>

  <div class="topcoat-button--cta full center" hm-tap="login()">Login to Facebook</div>
  <br><br>
  <div class="topcoat-button full center" hm-tap="requestWithGraphPath()">Request Friends from Graph</div>
  
  <br><br><br><br>
  
  <div class="topcoat-button full center" hm-tap="logout()">Logout from Facebook</div>
</div>
               