<div ng-controller="IndexCtrl" class="padding">
  <navigation-bar title="Settings">
    <left-button icon="/vendor/icons8/menu-32" onTap="showMenu()"></left-button>
  </navigation-bar>
  <p>Press the dice button to change the navigation bar color scheme. Or change the
  application orientation.</p>
  <button class="button button-block" ng-click="changeOrientation('landscapeLeft')">
    landscapeLeft
  </button>
  <button class="button button-block" ng-click="changeOrientation('landscapeRight')">
    landscapeRight
  </button>
  <button class="button button-block" ng-click="changeOrientation('portraitUpsideDown')">
    portraitUpsideDown
  </button>
  <button class="button button-block" ng-click="changeOrientation('portrait')">
    portrait
  </button>
</div>
