<div ng-controller="IndexCtrl" class="content-padded">

  <div class="topcoat-button full center block" hm-tap="performAnimation('flipVerticalFromTop', 1.2)">
    flipVerticalFromTop
  </div>

  <div class="topcoat-button full center block" hm-tap="performAnimation('flipHorizontalFromLeft', 0.7)">
    flipHorizontalFromLeft
  </div>

  <div class="topcoat-button full center block" hm-tap="performAnimation('slideFromRight', 0.2)">
    slideFromRight
  </div>

  <div class="topcoat-button full center block" hm-tap="performAnimation('slideFromTop', 0.8)">
    slideFromTop
  </div>

  <div class="topcoat-button full center block" hm-tap="performAnimation('curlDown', 0.8)">
    curlDown
  </div>

  <div class="topcoat-button full center block" hm-tap="performAnimation('curlUp', 0.4)">
    curlUp
  </div>

</div>
