<div ng-controller="IndexCtrl">

  <button class="button button-block" ng-click="performAnimation('flipVerticalFromTop', 1.2)">
    flipVerticalFromTop
  </button>

  <button class="button button-block" ng-click="performAnimation('flipHorizontalFromLeft', 0.7)">
    flipHorizontalFromLeft
  </button>

  <button class="button button-block" ng-click="performAnimation('slideFromRight', 0.2)">
    slideFromRight
  </button>

  <button class="button button-block" ng-click="performAnimation('slideFromTop', 0.8)">
    slideFromTop
  </button>

  <button class="button button-block" ng-click="performAnimation('curlDown', 0.8)">
    curlDown
  </button>

  <button class="button button-block" ng-click="performAnimation('curlUp', 0.4)">
    curlUp
  </button>

</div>
